<div class="form-wrapper">
  <h2>Order List</h2><br />

  <table class="table table-condensed table-bordered">
    <tr>
      <th>#</th>
      <th>Customer</th>
      <th>Total Amount</th>
      <th>Order Date</th>
      <th>Deliver Date</th>
      <th>Status</th>
      <th>Detail</th>
      <th>Update</th>
    </tr>
    <%= render @orders %>
  </table>
</div>