<tr>
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= truncate category.description, length: 35 %></td>
  <td><%= link_to "Edit", edit_admin_category_path(category) %></td>
</tr>