<div class="form-wrapper">
  <h2>Products List</h2><br />

  <table class="table table-condensed table-bordered">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>More</th>
    </tr>
    <%= render @categories %>
  </table>
  <p><%= link_to "New Category", new_admin_category_path %></p>
</div>