// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article#product {
  h2#name {
    margin-bottom: 20px;
  }
  p {
    padding: 10px;
    font-size: 1.15em;
    line-height: 1.25em;
  }
  th,td{
    padding: 5px;
  }
  table{
    margin-bottom: 35px;
  }
  h4 {
    padding-bottom: .5em;
    margin: 1em 0;
    font-size: 120%;
    border-bottom: 1px solid darken(#F5F5F5, 20%);

    &.no-rule {
      border: none;
    }
  }  
}
