<div class="form-wrapper">
  <h2>List of all users</h2><br />

  <table class="table table-condensed table-bordered">
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email Address</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Member Since</th>
      <th>Ban</th>
    </tr>
    <%= render @users %>
  </table>
</div>